.delivery{
    display: flex;
    margin-top: 8px;
    align-items: center;
  }
  
.delivery_cart{
    margin-left: 8px;
  }

.close{
    display: none; 
  }

  @media (max-width: 930px) {
    .delivery{
      height: 24px;
      font-size: 10px;
    }

    .delivery img{
      height: 24px;
    }
  }